/* font Description
font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif; */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Start NavBar */
.header{
    background: url("../image/bk-header.png");
}
.header nav{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
}
.header .nav-sec .delivery{
    font-size: 17px;
    color: #3d2514;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}  
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #3d2514;
} 
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link{
    margin-left: 50px;
    font-family: 'Bebas Neue', cursive;
    font-size: 21px;
}

@media (min-width:421px) and (max-width:991px) {
    .header nav{
        display: grid;
        grid-template-columns:repeat(1, auto);
        grid-template-rows: auto auto;
    }

    .header .nav-sec .delivery{
        margin-top: 10px;
        font-size: 3vw;
    }
}
@media (max-width:420px){
    .header nav{
        display: grid;
        grid-template-columns:repeat(1, auto);
        grid-template-rows: auto auto;
    }
    .header nav .logo a img{
        width:65%;
    }
    .header nav {
        margin-left: 0;
        margin-right: 0;
        margin-bottom:0;
      }
    .header .nav-sec .delivery{
        margin-top: 10px;
        font-size: 5vw;
    }
    .header .nav-sec .delivery img{
        width:13%;
    }
}
/* End NavBar */
/* Start Main-Intro  */
.header .main-intro{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2 ,50%);
    grid-template-rows: auto; 
}
.header .main-intro .paragraph-main{
    color: #3d2514;
    padding-top:10%;  
    padding-bottom: 10%;
}
.header .main-intro .paragraph-main p{
    display: inline-block;
    padding: 7px 15px;
    font-size: 1.8vw;
    font-family: 'Bebas Neue', cursive;
    border: 1px dashed #3d2514;
}
.header .main-intro .paragraph-main h1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 8.5vw;
    text-shadow: 2px 2px white;
}
.header .main-intro .paragraph-main h2{
    font-family: 'Alfa Slab One', cursive;
    font-size: 4vw;
    text-shadow: 2px 2px white;
}
.header .main-intro .photo-main{
    width:100%;
    height: 100%;
    position: relative;
}
.French-Fries{
    position: absolute;
    width: 48%;
    height: 60%;
    top: 10%;
    left: 13%;
    background-image: url("../image/French\ Fries.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.drinks{
    position: absolute;
    width: 25%;
    height: 85%;
    top: 2%;
    right: 10%;
    background-image: url("../image/Drinks.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.Burger-Image{
    position: absolute;
    width:65%;
    height: 65%;
    top: 56%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-image: url("../image/Burger\ Image.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.Burger-Image-Shadow{
    position: absolute;
    width: 70%;
    height: 50px;
    top: 77%;
    bottom: 33%;
    right: 47%;
    left: 53%;
    transform: translate(-50%, 76%);
    background-image: url("../image/Burger-Shadow.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.drinks-shadow{
    position: absolute;
    width: 40%;
    height: 50px;
    bottom: 2%;
    left: 54%;
    background-image: url("../image/Drinks-Shadow.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.price{
    background-color: #df1c1c;
    position: absolute;
    /* width:155px;  */
    /* height: 155px; */
    width:11vw; 
    height: 11vw;
    bottom: 3%;
    left: 11%;
    color: white;
    font-family: 'Bebas Neue', cursive;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-content: space-around;
    justify-content: space-around;
    border-radius:50%;
} 
.price .price-contain{ 
    width:10vw; 
    height: 10vw;
    /* width:130px; 
    height: 130px; */
    border: 2px dashed white;
    border-radius: 50%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-content: center;
    justify-content: center;
    line-height: 20px;
    padding: 30px 0 0 20px; 
} 
 .price .price-contain p:nth-child(1){
    font-size: 33px;
} 
.price .price-contain p:nth-child(1) span{
    font-size: 70px;
}
.price .price-contain p:nth-child(2){
    font-size: 33px;
    letter-spacing: 14px;
    box-sizing:content-box;
}
/* End Main-Intro */
/* Start First Section */
.popular-sec{
    height: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    gap: 20px;
    padding: 5% 0;
    color: white;
    font-family: 'Bebas Neue', cursive;
    
} 
.popular-sec .popular-burger-left{
    border-radius: 10px;
    background-image: url("../image/Burger Image-1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.popular-sec p{
    font-size: 42px;
    padding: 20px;
    line-height: 40px;
}
.popular-sec p span{
    font-size: 25px;
    display: block;
}
.popular-sec .popular-burger-right{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 48% 48%;
    align-content: space-between;
}
.popular-sec .popular-burger-right .firs-try{
    background-image: url("../image/duble-burger.png");
    background-repeat: no-repeat;
    background-size: cover;  
    border-radius: 10px;
    line-height: 40px;
}
.popular-sec .popular-burger-right .second-try{
    border-radius: 10px;
    background-image: url("../image/makeing-burger.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}
@media (max-width:991px) {
    .popular-sec{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3 , auto);
        padding: 5% 0;
    }
    .popular-sec .popular-burger-left{
        background-size: cover;
    }
}
/* End First Section */
/* Start Choose and Enjoy  */
.choose-and-enjoy{
    text-align: center;
    color: #3d2514;
}
.choose-and-enjoy p:nth-child(1){
    display: inline-block;
    width:220px;
    padding: 8px 0;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    background-color: #ffc135;
}
.choose-and-enjoy h1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 7px;
}
.choose-and-enjoy p:nth-child(3){
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    width: 85%;
    margin: auto;
} 
/* End Choose and Enjoy */
/* Start Order Now */
.order-now{
    display: grid;
    grid-template-columns: repeat(3 , 25%);
    grid-template-rows: auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    text-align: center;
    color: #3d2514;
}
.order-now .card{
    border: 0px solid rgba(0,0,0,.125);
    transition: .5s ease-in-out;
}
.order-now .card:hover{
    border: 2px solid rgb(241, 241, 241);
    box-shadow: 5px 5px 25px 20px rgb(241, 241, 241);
    margin-top: -15px;
    margin-bottom: 15px;
}
@media (max-width:991px) {
    .order-now{
        display: grid;
        grid-template-columns:80%;
        grid-template-rows: repeat(3 , auto);
    }
    .order-now .card{
        margin-bottom: 20px;
        border: 1px solid rgba(0,0,0,.125);
    }
}
.order-now .card .btn{
    background-color: #df1c1c;
    color:white;
    border-radius: 0;
    font-family: 'Alfa Slab One', cursive;
    font-size: 17px;
    font-weight: 400;
}
/* End Order Now */
/* Start Carousel  */
.event-slider .carousel{
  box-shadow: 5px 10px 20px #888888;
}
.sli-cont .sli-cont-left h4{
    font-family: 'Bebas Neue', cursive;
    font-size: 29px;
    color: #3b3b3b;
}
.sli-cont .sli-cont-left h1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 42px;
    color: #3d2514;
}
.sli-cont .sli-cont-left p{
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    color: #3b3b3b;
}
.carousel .carousel-indicators  button {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background-color: #dddddd;
}
.carousel .carousel-indicators .active{
    background-color: #ffc135;
}
/* End Carousel  */
/* Start Resevation */
 .reservation{
    position: relative;
}
.reservation .rserve-table{
    width: 60%;
    text-align: center;
    margin: auto;
    color: #421f0a;
    padding-top: 50px;
    padding-bottom: 100px;
    z-index: 10;
}
.reservation .rserve-table h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 29px;
}
.reservation .rserve-table h1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    font-weight: normal;
    padding-bottom:50px ;
}
.reservation .rserve-table div input , button{
    display: block;
    width: 90%;
    height: 66px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    margin: 15px auto;
    padding-left: 15px;
}
.reservation .rserve-table div button{
    color: white;
    border:none;
    background-color: #df1c1c;
    font-family: 'Alfa Slab One', cursive;
    font-size: 21px;
    text-align: center;
}
.reservation .burger-reserve{
    position: absolute;
    top: 0;
    left: 0;
    width:300px;
    height: 300px;
    overflow: hidden;
}
.reservation .burger-reserve img{
    width: 300px;
    height: 300px;
    margin-top: -40px;
    margin-left: -45px;
}
.reservation .burger-hotsouce{
    position: absolute;
    top: 160px;
    left: 70px;
    width:200px;
    height: 350px;
    overflow: hidden;
}
.reservation .burgeer-dish{
    width: 270px;
    height: 400px;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden ;
    z-index: 1 ;
}
/* End Reservatio */
/* Start Footer */
footer{
    width: 100%;
    background-image: url("../image/footer-img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.footer-part{
    max-width:100%;
    color:white;
}
.footer-part .left-foot{
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.footer-part .right-foot{
    font-size: 21px;
    font-family: 'Bebas Neue', cursive;
    margin: auto;
    display: inline-flex;
    justify-content: center;
}
.footer-part .copy-right p{
    font-family: 'Bebas Neue', cursive;
    font-size: 17px;
}
.footer-part .copy-right .social-media ul{
    text-align: right;
}
.footer-part .copy-right .social-media ul li{
    display: inline-flex;
    background-color: white;
    margin-left: 10px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color:black;
    cursor: pointer;
    transition: .2s all ease-in-out;
}
.footer-part .copy-right .social-media ul li:nth-child(1):hover{
    color:white;
    background-color: #E1306C;
}
.footer-part .copy-right .social-media ul li:nth-child(2):hover{
    color:white;
    background-color: #4267B2;
}
.footer-part .copy-right .social-media ul li:nth-child(3):hover{
    color:white;
    background-color: #1DA1F2;
}
.footer-part .copy-right .social-media ul li:nth-child(4):hover{
    color:white;
    background-color: #25d366;
}
/* End Footer */